.mat-card-subtitle {
  color: #3f51b5;
}

.text-secondary {
  color: #a5a5a5;
}

.text-done {
  text-decoration: line-through;
}

.done {
  opacity: 0.6;
}

.mat-icon-button {
  line-height: 30px;
  height: 30px;
  width: 30px;
}
